<div class="breadcrumb_sec2">
  <nav aria-label="breadcrumb" style="background: transparent;border: 0;padding: 0;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a (click)="goToHome()"
          style="cursor: pointer;color: #0e4182 !important;text-decoration: none;">Main Page</a></li> <span
        class="eva eva-chevron-right"></span>
      <li class="breadcrumb-item active" aria-current="page"><a (click)="goToValidators()"
          style="cursor: pointer;color: #0e4182 !important;text-decoration: none;">Validators</a></li> <span
        class="eva eva-chevron-right"></span>
      <li class="breadcrumb-item active" aria-current="page">Add validator</li>

    </ol>
  </nav>
</div>


<div class="content2">
  <form style="    margin-top: 0;  " #addPeerForm="ngForm" (ngSubmit)="onSubmit(addPeerForm)">
    <h4 style="color: #d3d3d3;">Add Validator</h4>
    <div class="row">

      <div class="col-md-6">
        <label>Validator Ip</label>

        <div class="input">
          <input type="text" placeholder="http://xxx.xxx.xxx.xxx:8095" class="form-control"
            [(ngModel)]="validatorDetails.validatorIP" name="validatorIP" #validatorIP="ngModel">

        </div>
      </div>
      <div class="col-md-6">
        <label>Validator soket ip</label>
        <div class="form-group">
          <div class="input">
            <input type="text" placeholder="xxx.xxx.xxx.xxx:8096" class="form-control"
              [(ngModel)]="validatorDetails.socketIp" name="socketIp" #socketIp="ngModel" required>

          </div>
        </div>
      </div>
    </div>

    <label>Validator stake coins</label>
    <div class="form-group">
      <div class="input">
        <input type="text" placeholder="0.000000" class="form-control" [(ngModel)]="validatorDetails.stakeCoins"
          name="stakeCoins" #stakeCoins="ngModel" required>

      </div>
    </div>
    <label>Validator public key</label>
    <div class="form-group">
      <div class="input">
        <textarea type="text" placeholder="-----BEGIN PUBLIC KEY-----example-----END PUBLIC KEY-----"
          class="form-control" [(ngModel)]="validatorDetails.validatorPublickey" name="validatorPublickey"
          #validatorPublickey="ngModel" required rows="5" style="height: 135px;"></textarea>


      </div>
    </div>
    <input type="submit" value="Save">

  </form>
</div>