@import '../@theme/styles/themes';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

.nb-theme-corporate nb-layout .layout nb-layout-header nav{
  background: #01458d;

}

.form_section .form_background{
  background: url(../../assets/images/background2.png);
  background-size: cover;
  width: 100%;
  // align-items: center;
  // justify-content: space-around;
  // display: flex;
  // float: none;
  // overflow: hidden;
  padding-top: 20%;
  height: 100vh;
}

.nb-theme-corporate nb-layout .layout .layout-container .content .columns nb-layout-column{
  padding: 0 !important;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


.form_section .form_background .head{
  text-align: center;
  margin: auto;

}

.form_section .form_background h4{
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}

.form_section .form_background .head p{
  color: #cdffff;
  font-size: 14px;
  width: 50%;
  margin: 0 auto 20px;
  padding-bottom: 0;
}

.form_section .form_background form{
  width: 50%;
  margin: auto;
}

.form_section .form_background form label{
  color: #f2ffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}



.form_section .form_background form .form-control{
  background: #fff;
  border-radius: 10px;
  border: 0;
}

.form_section .form_background input[type="submit"]{
  background: #fff;
  border-radius: 10px;
  padding: 10px 35px;
  border: 0;
  font-size: 16px;
  color: #02478a;
  font-weight: bold;
}

.form_section .content {
  margin: auto;
  padding-top: 35%;
  height: 70vh;
}

.form_section .content .logo{
  margin: auto;
  text-align: center;
}

form .input span button {
  position: absolute;
  top: 0;
  right: 10px;
  color: #27507e;
  font-size: 24px !important;
}

 form .input .question_mark i {
  text-align: center;
  font-size: 14px !important;
  color: #fff;
  line-height: 20px !important;
  margin: 0 !important;
  width: auto !important;
  background: #2f93f3;
  height: 20px !important;
  width: 20px !important;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  line-height: 21px;
  top: -14px;
  font-size: 12px !important;
}

.form_section .content p{
  font-size: 16px;
  width: 71%;
  margin: auto;
  text-align: center;
  color: #cdcdcd;
  font-weight: normal;
  letter-spacing: 1px;
}

.form_section .footer{
  position: absolute;
  bottom: 5%;
  text-align: center;
  margin: auto;
  width: 70%;
  left: 18%;
}

.form_section .footer a{
  color: #6b8aa6;
  font-weight: bold;
  margin-right: 30px;
  text-decoration: none;
}

.form_section {
  position: relative;
}


/********************** start new edits ***************************/
.form_section .form_background .head .logo{
  background-image: url(assets/images/logo.png);
          background-position: center center;
          width: 100%;
          height: 100px;
          background-repeat: no-repeat;
}

.form_section .content .logo{
  background-image: url(assets/images/logo2.png);
  background-position: center center;
  width: 100%;
  height: 130px;
  background-repeat: no-repeat;
}

/********************** end new edits ***************************/
